.come{
    background-color: #F2EFE6;
    padding: 114px 0 119px 0;
}

.come__content{
    margin: 0 auto;
    width: 760px;
    align-items: center;
}

.come__title{
    margin-bottom: 27px;
    font-family: 'Recoleta';
    font-weight: 600;
    font-size: 48px;
    line-height: 54px;
    text-align: center;
    color: #163A24;
}

.come__desc{
    margin-bottom: 8px;
    font-family: 'Noto Sans';
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    color: #163A24;
}

