.you__content{
    display: flex;
    align-items: center;
    padding-bottom: 115px;
    padding-left: 100px;
}

.you__lead{
    width: 376px;
}

.you__img{
    width: 487px;
    height: 418px;
    margin-left: 119px;
}

.you__title{
    margin-bottom: 27px;
    font-family: 'Recoleta';
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 54px;
    color: #163A24;
}

.you__desc{
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    color: #163A24;
}

.how{
    padding: 182px 0 0 0;
}